<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SinemaSatış_Otomasyonu.Properties.Settings.SinemaSatısOtomasyonuConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SinemaSatısOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>